<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 1: Start here... %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th class= "<%= highlight_if_current_column(:title) %>">
        <%= link_to 'Movie Title', {sort_by: :title }, id: 'title_header' %>
      </th>
      <th>Rating</th>
      <th class="<%= highlight_if_current_column(:release_date) %>">
        <%= link_to 'Release Date', { sort_by: :release_date }, id: 'release_date_header' %>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
