%h1 All Movies

%table#movies
  %thead
    %tr
      %th{ :class => ("hilite" if @order_by_title)}
        %a{ :id => "title_header", :href => "?order_by_title=true"} Movie Title
      %th Rating
      %th{ :class => ("hilite" if @order_by_release_date)}
        %a{ :id => "release_date_header", :href => "?order_by_release_date=true"} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path