-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  Include:
  - Movie.all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]"
  = submit_tag 'Refresh', :id => 'ratings_submit'
  
%table#movies
  %thead
    %tr
      %th{:id => 'title_header', :class => @title_header}= link_to "Movie Title", movies_path(:sort_by_param => 'title')
      %th Rating
      %th{:id => 'release_date_header', :class => @release_date_header}= link_to "Release Date", movies_path(:sort_by_param => 'release_date')
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
