-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th#title_header{class: @tclass}= link_to "Movie Title", :sort => "title"
      %th Rating
      %th#release_date_header{class: @rdclass}= link_to "Release Date", :sort => "release_date"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
